@import "tailwindcss";
@import "tw-animate-css";


@source "../node_modules/@antoniobenincasa/ui";

@import "@antoniobenincasa/ui/ui.css";

@custom-variant dark (&:where(.dark, .dark *));

:root.light,
:root {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-white);
}
:root.dark {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-white);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}