@layer base, components, utilities, overrides;

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root.light,
:root {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-white);
}
:root.dark {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-white);
}
