
name: All Tests

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  unit-test:
    needs: [lint]
    uses: ./.github/workflows/unit-tests.yml

  integration-test:
    needs: [lint]
    uses: ./.github/workflows/integration-tests.yml

  playwright-test:
    needs: [unit-test, integration-test]
    uses: ./.github/workflows/playwright.yml
